# -*- coding: utf-8 -*-

APP_NAME = '{{ APP_NAME }}'
UPLOAD_DIR = '{{ DATA_PATH }}'
SECRET_KEY = '{{ SECRET_KEY }}'

USER_CONF_DIR = '{{ USER_CONF_PATH }}'

USER_LOG_DIR = '{{ USER_LOG_PATH }}'

SQLALCHEMY_TRACK_MODIFICATIONS = False

SQLALCHEMY_DATABASE_URI = 'mysql://{{ MYSQL_USER }}:{{ MYSQL_USER_PASS }}@{{ MYSQL_USER_HOST }}/{{ DATABASE_NAME }}'

WRITE_TO_ENV = {
    'DAN_WEB_SHARED_DATA_PATH': '{{ SHARED_DATA_PATH }}',
    'DAN_WEB_PYCAFFE_PATH': '{{ PYCAFFE_PATH }}',
    'DAN_WEB_TMP_DIR': '/tmp/dan_web',
    'DAN_WEB_RUN_DIR': '/tmp/dan_web/run'
}
