{% extends "layout.html" %}
{% block headblock %}
<link href="/static/css/dan.css", rel="stylesheet" />
{% block headblock_index %}{% endblock %}
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li>
          <a><p style="color: black; font-size: 20px">Compression Tool</p></a>
          </li>
        <li><a class="side_item" id="file-manage" href="{{ url_for('index') }}">File Management</a></li>
      </ul>
      <ul class="nav nav-sidebar" role="seperator"><li><hr></li></ul>
      <ul class="nav nav-sidebar">
        <li><a class="side_item" href="{{ url_for('job.job_create' )}}" id="create-new-job">Create New Job</a></li>
      </ul>
      <ul class="nav nav-sidebar" role="seperator"><li><hr></li></ul>
      <ul class="nav nav-sidebar">
        {% if not job_list %}
        <li class="disabled"><a class="side_item job_item">No Job Exists</a></li>
        {% else %}
        {% for job in job_list %}
        <li><a class="side_item job_item" id="jobid_{{ job[1] }}" name="{{ job[0] }}" href="{{ url_for( 'job.job_item', job_id=job[1]) }}">{{ job[0] }}</a></li>
        {% endfor %}
        {% endif %}
      </ul>
      <ul class="nav nav-sidebar" role="seperator"><li><hr></li></ul>
      <ul class="nav nav-sidebar">
        <li><a class="side_item" href="{{ url_for('logout') }}">Log Out</a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="big-page-header page-header">{{ title }}</h1>
      {% block main %}
      {% endblock %}

    </div>
  </div>
</div>
{% endblock %}

{% block inlinescript %}
<script>
$("document").ready(function() {
$('a.side_item#{{ now_active_tab }}').parent().addClass("active");
})
   </script>
{% block inlinescript_index %}{% endblock %}
{% endblock %}
