{% extends "index_layout.html" %}
{% block headblock_index %}
<script src="/static/js/dan_job_create.js" charset="utf-8"></script>
<link href="/static/css/dan_job.css", rel="stylesheet" />
<script src="/static/js/jquery-ui.min.js" charset="utf-8"></script>
<link href="/static/css/jquery-ui.min.css", rel="stylesheet" />
{% endblock %}


{% block main %}
<h2 class="page-header">Job配置</h2>
<div class="row" style="margin-bottom: 30px">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="row">
      <form enctype="multipart/form-data" id="upload_form" class="form-horizontal">
        <div class="form-group" name="job_name">
          <div class="col-lg-4">
            <label for="form_arg_job_name" class="control-label">Job名字</label>
          </div>
          <div class="col-lg-8 required">
            <input type="text" class="form-control" placeholder="不要包含'-', 最长30个字符" name="job_name" />
          </div>
        </div>
        <div class="form-group" name="job_type">
          <div class="col-lg-4">
            <label for="form_arg_job_type" class="control-label">Job类型</label>
          </div>
          <div class="col-lg-8 required">
            <select id="form_arg_job_type" class="form-control post_ajax" name="job_type">
              <option value=""></option>
              <option value="svd_tool">全连接层分解工具</option>
            </select>
          </div>

        </div>
        <div class="col-lg-offset-5">
          <button type="submit"  style="margin-top: 20px;" class="btn btn-default" id="file_upload_btn">创建并运行</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
